.Project{

    width: 90vw;
    min-width: auto; 

    display: flex;
    flex-wrap: wrap;

    padding: 0;
    flex-direction: column;
    gap: 50vh;


    &__title{
        position: relative;
        font-size: 1.5em;
        z-index: 20;
        margin-bottom: 20vh;
    }
}

@media screen and (min-width: 1200px) {
    .Project{
   
        width:auto;
    }
    
}


@media screen and (min-width: 1400px) {
    .Project{

        margin: 0% auto;
    
        width: 1400px;
    
        display: flex;
    
        padding: 0;
        flex-direction: column;
        gap: 50vh;
    
    
        &__title{
            position: relative;
            z-index: 20;
        }
    }
    
}