.Project{

    margin-top: 30%;

    width: 100%;
    min-width: 1300px;

    display: flex;

    padding: 0;
    flex-direction: column;
    gap: 50vh;

}
.titlproj{

    font-family: 'Conquera Fine';
        font-weight: normal;
        font-style: normal;  
        font-size: 25px;
        margin: 0;
    
        color: var(--text-color);
}

