@import './images-size.scss';

.contitem{

    &__imgConta {
        --border: 2.5px; /* the border width */
        --slant: 5.5em; /* control the slanted corners */
        display: flex;

        align-items: center;
        justify-content: center;
        min-width: 300px;
        font-family: "Michroma", sans-serif;
        color: var(--accent-color);
        font-size: 18px;
        border: none;
        cursor: pointer;
      
        color: var(--accent-color);
        background: linear-gradient(
              to bottom left,
              var(--button-color) 50%,
              #0000 50.1%
            )
            top right,
          linear-gradient(to top right, var(--button-color) 50%, #0000 50.1%) bottom
            left;
        background-size: calc(var(--slant) + 1 * var(--border))
          calc(var(--slant) + 1.3 * var(--border));
        background-repeat: no-repeat;
        box-shadow: 0 0 0 200px inset var(--s, #0000),
          0 0 0 var(--border) inset var(--button-color);
        clip-path: polygon(
          0 0,
          calc(100% - var(--slant)) 0,
          100% var(--slant),
          100% 100%,
          var(--slant) 100%,
          0 calc(100% - var(--slant))
        );
      
        .buttonimage{
          display: none;
          transition: all 400ms ;
        }
        &:hover{
          .contitem__img{
            transition: all 400ms ;
            filter: brightness(2) grayscale(0.51) opacity(0.1) contrast(0.8) saturate(1.2);
          }
          .buttonimage{
            transition: all 400ms ;
            display: flex;
          }
          
          .buttonimage:focus-visible {
            transition: all 300ms ;
            outline-offset: calc(-1 * var(--border));
            outline: var(--border) solid #000c;
            clip-path: none;
            background-size: 0 0;
          }
          .buttonimage:hover,
          .buttonimage:active{
            transition: all 300ms;
            background-size: 100% 100%;
            --t: 0.2s 0.1s;
            color: var(--text-color-c);
          }
          .buttonimage:active {
            --s: #0005;
            transition: none;
          }
          
        }
          
        }
        &__imga {
          --slant: 2em; /* control the slanted corners */
          width: auto;
        min-height: 400px;
        max-height: 500px;
        padding: 10px;
        background-size: calc(var(--slant) + 1.3 * var(--border))
        calc(var(--slant) + 1.3 * var(--border));
        background-repeat: no-repeat;
        clip-path: polygon(
          0 0,
          calc(100% - var(--slant)) 0,
          100% var(--slant),
          100% 100%,
          var(--slant) 100%,
          0 calc(100% - var(--slant))
        );
        transition: all 800ms;
      
      
      }
    
    }
    




.imgAbout {
  width: 100%;
  // height: 350px;

  // padding: 15px 10px 15px 1px;
  padding: 0px;

  margin: 0 auto;

  object-fit: cover;
  image-resolution: crisp-edges;


//   filter: blur(0.2vw);
//   filter: grayscale(0.8);
  transition: all 400ms;
  &:hover {
    transition: all 200ms;
    transform: scale(1.01);
    filter: blur(0);
  }
}

.textJpans {
  display: flex;
  transform: rotate(90deg);
  translate: -60%;
  position: absolute;
  top: 1em;
  left: 1em;
  margin: 1em;

  color: var(--black);

  font-family: "Dela Gothic One";
  font-size: 1.3em;
}

.imagebutton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}

.imgCont {
  --border: 2.5px; /* the border width */
  --slant: 2.5em; /* control the slanted corners */
  max-width: 500px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin:0 auto;
  font-family: "Michroma", sans-serif;
  color: var(--accent-color);
  font-size: 18px;
  border: none;
  cursor: pointer;

  color: var(--accent-color);
  background: linear-gradient(
        to bottom left,
        var(--button-color) 50%,
        #0000 50.1%
      )
      top right,
    linear-gradient(to top right, var(--button-color) 50%, #0000 50.1%) bottom
      left;
  background-size: calc(var(--slant) + 1.3 * var(--border))
    calc(var(--slant) + 1.3 * var(--border));
  background-repeat: no-repeat;
  box-shadow: 0 0 0 200px inset var(--s, #0000),
    0 0 0 var(--border) inset var(--button-color);
  clip-path: polygon(
    0 0,
    calc(100% - var(--slant)) 0,
    100% var(--slant),
    100% 100%,
    var(--slant) 100%,
    0 calc(100% - var(--slant))
  );
}
.buttonimage {
  --border: 2.5px; /* the border width */
  --slant: 0.8em; /* control the slanted corners */

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Michroma", sans-serif;
  color: var(--accent-color);
  font-size: 17px;
  height: 40px;
  padding: 0.3em 1.9em;
  border: none;
  cursor: pointer;

  color: var(--accent-color);
  background: linear-gradient(
        to bottom left,
        var(--button-color) 50%,
        #0000 50.1%
      )
      top right,
    linear-gradient(to top right, var(--button-color) 50%, #0000 50.1%) bottom
      left;
  background-size: calc(var(--slant) + 1.3 * var(--border))
    calc(var(--slant) + 1.3 * var(--border));
  background-repeat: no-repeat;
  box-shadow: 0 0 0 200px inset var(--s, #0000),
    0 0 0 var(--border) inset var(--button-color);
  clip-path: polygon(
    0 0,
    calc(100% - var(--slant)) 0,
    100% var(--slant),
    100% 100%,
    var(--slant) 100%,
    0 calc(100% - var(--slant))
  );
  transition: color var(--t, 0.3s), background-size 0.3s;
}

@media screen and (min-width: 1200px) {
  .imgAbout {

    width: 100%;
    height: 100%;
    max-height: 550px;
    min-width: 500px;

    object-fit: cover;
    image-resolution: crisp-edges;

    // filter: blur(0.2vw);
    // filter: grayscale(0.1);
    filter: opacity(20%) saturate(0%) contrast(20%) invert(60%);  
    transition: all 400ms ease;
    &:hover {
      transition: all 200ms;
      transform: scale(1.01);
      filter: opacity(100%) saturate(100%) contrast(100%) invert(0%);  
    }
    &:hover ~ .textJpans{
      color: var(--black);

    }
  }

  .textJpans {
    display: flex;

    position: absolute;
    transform: rotate(0deg);
    translate: 0;
    top: 1em;
    top: 0;
    left: 1em;
    margin: 1em;

    color: var(--black-c);
    
    font-family: "Dela Gothic One";
    font-size: 1.1em;

    &:hover{
      color: var(--black);
    }
  }

  .imagebutton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
  }

  .imgCont {
    --border: 2.5px; /* the border width */
    --slant: 2.4em; /* control the slanted corners */
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    padding: 15px;
    font-family: "Michroma", sans-serif;
    color: var(--accent-color);
    font-size: 18px;
    border: none;
    cursor: pointer;

    color: var(--accent-color);
    background: linear-gradient(
          to bottom left,
          var(--button-color) 50%,
          #0000 50.1%
        )
        top right,
      linear-gradient(to top right, var(--button-color) 50%, #0000 50.1%) bottom
        left;
    background-size: calc(var(--slant) + 1.3 * var(--border))
      calc(var(--slant) + 1.3 * var(--border));
    background-repeat: no-repeat;
    box-shadow: 0 0 0 200px inset var(--s, #0000),
      0 0 0 var(--border) inset var(--button-color);
    clip-path: polygon(
      0 0,
      calc(100% - var(--slant)) 0,
      100% var(--slant),
      100% 100%,
      var(--slant) 100%,
      0 calc(100% - var(--slant))
    );
  }
  .buttonimage {
    --border: 2.5px; /* the border width */
    --slant: 0.8em; /* control the slanted corners */

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Michroma", sans-serif;
    color: var(--accent-color);
    font-size: 17px;
    height: 40px;
    padding: 0.3em 1.9em;
    border: none;
    cursor: pointer;

    color: var(--accent-color);
    background: linear-gradient(
          to bottom left,
          var(--button-color) 50%,
          #0000 50.1%
        )
        top right,
      linear-gradient(to top right, var(--button-color) 50%, #0000 50.1%) bottom
        left;
    background-size: calc(var(--slant) + 1.3 * var(--border))
      calc(var(--slant) + 1.3 * var(--border));
    background-repeat: no-repeat;
    box-shadow: 0 0 0 200px inset var(--s, #0000),
      0 0 0 var(--border) inset var(--button-color);
    clip-path: polygon(
      0 0,
      calc(100% - var(--slant)) 0,
      100% var(--slant),
      100% 100%,
      var(--slant) 100%,
      0 calc(100% - var(--slant))
    );
    transition: color var(--t, 0.3s), background-size 0.3s;
  }
}
