.light {
  --background-color: #f5f4f4;
  --background-color-20: #f5f4f400;
  --title-color:#343434;
  --text-color:#000000;
  --text-color-50:#0000006d;
  --text-color-c:#ffffff;
  --text-contrast:#000000;
  
  --arrow: #000000;
  --arrow-hover: #3652dd;
  --icon-fill-hdr: #00000000;
  --stroke-icon: #000000;
  --icon-fill-hdr-h: #3652dd;
  --stroke-icon-h: #f5f4f4;

  --ball-color:#3652dd82;
  --accent-color:#3652dd;
  --shadow-color:#cbd3ff54;
  --typing-color:#000000;
  --button-color:#3652dd;
  --shadow-input:#dad9d950;


  --white:#ffffff;
  --black:#000000;
  
  --bg-pattern: url(/assets/images/bgwhite.png);
  --root-bg:url(/assets/images/rootbgw.png);
}
.dark {
  --background-color: #161616;
  --background-color-20: #04040400;
  --title-color:#000000;
  --text-color:#ffffff;
  --text-color-50:#ffffff6d;
  --text-color-c:#000000;
  --text-contrast:#ffffff;
  
  --arrow: #ffffff;
  --arrow-hover: #A0FF90;
  --icon-fill-hdr: #ffffff00;
  --icon-fill-hdr-h: #A0FF90;
  --stroke-icon: #A0FF90;
  --stroke-icon-h: #000000;
  
  
  --ball-color:#a1ff908e;
  --button-color:#A0FF90;
  --accent-color:#A0FF90;
  --typing-color:#A0FF90;
  --shadow-color:#a1ff908c;
  --shadow-input:#0000008c;
  
  --white:#ffffff;
  
  --black:#000000;
  
  
  --bg-pattern: url(/assets/images/bgdark.png);
  --root-bg:url(/assets/images/rootbgd.png);
}
