.light {
  --background-color: #E6EDEF;
  --bg-tag: #F0F0F0;
  --background-color-0: #f2f2f2ca;
  --background-color-none: #f2f2f200;
  --background-color-20: #f8f7f700;
  --background-color-50: #f6f5f59f;
  --background-color-60: #f2f1f1b8;
  --background-color-70: #f1f1f1d7;
  --title-color:#343434;
  --text-color:#000000;
  
  --text-color-50:#0000008c;
  --text-color-80:#0000009a;

  --text-color-c:#ffffff;
  --text-contrast:#000000;
  
  --arrow: #000000;
  --arrow-hover: #3652dd;
  --icon-fill-hdr: #00000000;
  --stroke-icon: #000000;
  --border-form: #000000;
  --icon-fill-hdr-h: #3652dd;
  --stroke-icon-h: #f5f4f4;
  
  --eclipse-color:#ffffff;
  --ball-color:rgba(70, 101, 255, 0.493);
  --accent-color:#3652dd;
  --accent-color-2:#17206d;
  --accent-color-3:#8cdd36;
  --accent-color-muted:#7381c7;
  --shadow-color:#cbd3ff54;
  --typing-color:#000000;
  --button-color:#3652dd;
  --shadow-input:#dad9d950;
  

  --white:#ffffff;
  --black:#000000;
  --black-c:#0091ff;
  
  // --bg-pattern: url(/assets/images/bgcyberpnk.jpg);
  --bg-pattern: url(/assets/images/bglight.png);

  --root-bg:url(/assets/images/rootbgw.png);
}
.dark {
  --background-color: #181818;
  --bg-tag: #121312;
  --background-color-0: #0C0E0C;
  --background-color-none: #0c0e0c00;
  --background-color-20: #04040439;
  --background-color-50: #0c0e0c9f;
  --background-color-60: #0c0e0cb8;
  --background-color-70: #0c0e0cd7;
  --title-color:#000000;
  --text-color:#ffffff;

  --text-color-50:#ffffff6d;
  --text-color-80:#ffffffa3;
  
  --text-color-c:#000000;
  --text-contrast:#ffffff;
  
  --arrow: #ffffff;
  --arrow-hover: #A0FF90;
  --icon-fill-hdr: #ffffff00;
  --icon-fill-hdr-h: #A0FF90;
  --stroke-icon: #A0FF90;
  --border-form: #a1ff908c;
  --stroke-icon-h: #000000;
  
  --eclipse-color:#ffffff;
  --ball-color:#97e4896c;
  --button-color:#A0FF90;
  --accent-color:#A0FF90;
  --accent-color-2:#8bc382;
  --accent-color-3:#ff90b1;
  --accent-color-muted:#74946e;
  --typing-color:#A0FF90;
  --shadow-color:#a1ff908c;
  --shadow-input:#00  00008c;
  
  --white:#ffffff;
  
  --black:#000000;
  --black-c:#eda202;
  
  
  // --bg-pattern: url(/assets/images/bgcyberpnk.jpg);
  --bg-pattern: url(/assets/images/bgdark.png);
  --root-bg:url(/assets/images/rootbgd.png);
}
