.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Crea 3 columnas de igual tamaño */
  grid-template-rows: repeat(1, 1fr); /* Crea 3 filas de altura fija de 100px */
  gap: 4em;
  min-width: auto;
  width: auto;
  max-width: 100vw;
  margin: 30px auto;
  justify-items: center;
}

.Info {
  z-index: 20;

  width: 100%;
  // max-width: 80vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0% 0% 0%;
  margin: 0 auto;
}

.Skillscont {
  min-width: auto;
  width: auto;
  max-width: 100vw;

  // margin: 5% auto;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  gap: 50px;
}

.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  position: relative;

  width: auto;
  height: auto;

  padding: 25px;

  // display:inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: Conquera Medium;
  font-size: 14px;
  transition: all 500ms ease;
  color: var(--text-color-80);

  & svg {
    width: 70px;
    filter: grayscale(0.2) contrast(50%) brightness(100%);
  }
}

.separator {
  width: 90vw;
  // max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  & .nameTag {
    background-color: var(--background-color);
    position: absolute;
    margin: 0 auto;
    border-radius: 5em;
    padding: 5px 10px;
    & p {
      font-family: Conquera Fine;
      font-size: 11px;
    }
  }
}
@media screen and (min-width: 800px) {

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crea 3 columnas de igual tamaño */
    grid-template-rows: repeat(1, 1fr); /* Crea 3 filas de altura fija de 100px */
    gap: 4em;
    min-width: auto;
    width: auto;
    max-width: 100vw;
    margin: 30px auto;
    justify-items: center;
  }
  .separator {
    width: 70vw;
  }
  .Skillscont {
    
    align-items: center;
  }
}

@media screen and (min-width: 1400px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Crea 3 columnas de igual tamaño */
    grid-template-rows: repeat(1,1fr); /* Crea 3 filas de altura fija de 100px */
    gap: 20px;
    justify-items: stretch;
    width: auto;
    max-width: 100vw;
    margin: 30px 0;
  }

  .Info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 80px 0% 0% 0%;
    margin: 80px auto;
  }

  .Skillscont {
    width: 100%;
    max-width: 1400px;

    margin: 5% auto;

    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;

    gap: 50px;
  }
  .list {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 5em;
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;

    img {
      height: 50px;
    }
  }

  .box {
    --b: 0px; /* thickness of the border */
    --c: var(--text-color-50); /* color of the border */
    --w: 10px; /* width of border */

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    padding: var(--b); /* space for the border */

    position: relative;
    /*Irrelevant code*/
    width: auto;
    height: auto;

    padding: 25px;

    // display:inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: Conquera;
    font-size: 14px;
    transition: all 500ms ease;

    & svg {
      width: 70px;
      filter: grayscale(0.5) contrast(50%) brightness(100%);
    }
  }
  .box::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--c);
    --_g: #0000 90deg, #000 0;
    --_p: var(--w) var(--w) no-repeat;
    --mask: conic-gradient(from 90deg at top var(--b) left var(--b), var(--_g))
        0 0 / var(--_p),
      conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 100%
        0 / var(--_p),
      conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0
        100% / var(--_p),
      conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g))
        100% 100% / var(--_p);
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }
  .separator {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & .nameTag {
      background-color: var(--bg-tag);
      position: absolute;
      margin: 0 auto;
      padding: 5px 50px;
    }
  }
}
