.aboutcont{
    min-width: 1300px; 

    margin: 5% auto;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

   
}
.description{

        max-width: 750px;
        width: 100%;
        transition: all 800ms;
        
    }
    .description:hover{
        .name{
            color: var(--accent-color);
            transition: all 500ms;
            stroke: var(--accent-color);
        }
    }

    
    .separator{
        stroke: var(--text-color);
    }
    .About{
        &__paragr{
            width: 100%;
            font-size: 16px;
        }
        
    }
    .name{
    transition: all 500ms;

}



