@import "../../features/colors.scss";
@import "../../Fonts.scss";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:40");

.section {
  width: 100%;
  height: 90vh;
  min-height: 100%;

  margin: 0 auto;
  display: flex;

  align-items: center;
  align-items: flex-start;
  overflow: hidden;
}
.blurredHome {
  width: 100vw;
  height: 100%;
  left: 0;

  position: absolute;
  z-index: 20;

  backdrop-filter: blur(0.8vmax);
}
.bgHome {
  // backdrop-filter: blur(1vmax);

  width: 100vw;
  height: 100%;
  top: 10px;
  left: 0;

  background-image: var(--bg-pattern);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  z-index: 2;

  transition: all 0ms;
}
// contnt

.contitle {
  display: flex;
  height: auto;
  align-items: flex-end;
}
.nameStyle {
  font-size: 30px;
}

// title animation
.maxwrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 360px;
  width: auto;
  gap: 0.5rem;
}

.contHome {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  margin: 0 auto;
  max-width: 84vw;
  height: 90vh;
  justify-content: center;
  /* margin-left: 20px; */
  // margin-top: 15rem;
  background-color: none;
  color: var(--text-color);
  border-radius: 20px;
  z-index: 20;

  &__h1 {
    font-family: "Conquera Heavy";
    font-weight: 800;
    font-style: normal;

    height: auto;

    font-size: 7vw;
    // font-size: calc(5px + 7vw);
    letter-spacing: 0px;

    color: var(--accent-color);
    // -webkit-text-stroke: 0.8px var(--stroke-icon);
    // text-shadow: 0px 0px 10px var(--shadow-color);
    margin: 5px 0 5px 0;
  }
  &__h3 {
    font-family: "Conquera Fine";
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    margin: 0;

    color: var(--text-color);
    transition: all 800ms;
    font-size: 1.5em;
  }
  &__p {
    transition: all 800ms;
    letter-spacing: 2px;
    font-family: "Conquera Fine";
    font-size: 10vw;
    color: var(--text-color);
    height: auto;

    margin: 0;
  }

  .barTyping {
    width: 4px;
    background-color: var(--typing-color);
    height: 30px;
    margin-left: 0.2em;
    animation: 1450ms flash infinite;
    animation-fill-mode: both;
    transition: all 800ms;
    display: none;
  }
}
.contHomeIco {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  height: 40px;

  // & :hover {
  //   :first-child,
  //   :nth-child(3) {
  //     // fill: var(--text-color-c);
  //   }
  // }
  transition: all 400ms;

  & .homeIco {
    fill: var(--text-color);
    transition: all 400ms;

    &:hover {
      cursor: pointer;
      background-color: var(--accent-color);
      fill: var(--text-color-c);

      width: 40px;

      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 20px;
      border-top-right-radius: 10px;
      border-top-left-radius: 5px;
      padding: 10px 10px 10px 20px;

      transition: all 400ms;
    }
  }
  & :nth-child(2) {
    &:hover {
      background-color: var(--text-color) !important;
      fill: var(--text-color-c) !important;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      border-top-right-radius: 50px;
      border-top-left-radius: 50px;

      transition: all 400ms;
    }
    cursor: pointer;
    fill: var(--text-color-c) !important;
    background-color: var(--accent-color) !important;
    width: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 20px;
    padding: 10px 0px 10px 20px;

    transition: all 400ms;
    // }
  }
  & :nth-child(3) {
    fill: var(--text-color);
    transition: all 400ms;

    &:hover {
      cursor: pointer;
      background-color: var(--accent-color);
      width: 40px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 5px;
      border-top-left-radius: 10px;
      padding: 10px 10px 10px 20px;

      transition: all 400ms;
    }
  }
}
.homeIco {
  cursor: pointer;
  border: 1px solid var(--text-color);
  padding: 10px !important;

  background-color: #0000;
  // width: 2px;
  padding: 0;
  border-radius: 10px;
  transition-delay: 200ms;
}
.linkda {
  cursor: pointer;
  width: 40px;
  height: 100%;
  transition: padding 800ms;

  // padding-left: 10px;
}

@media screen and (min-width: 500px) {
  .contHomeIco {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    height: 45px;

    & :hover {
      :first-child,
      :nth-child(2),
      :nth-child(3) {
        fill: var(--text-color-c);
      }
    }

    & .homeIco {
      transition: all 300ms;
      padding: 0 !important;
      &:hover {
        cursor: pointer;
        background-color: var(--accent-color);
        width: 40px;

        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 10px;
        border-top-left-radius: 5px;
        padding: 10px 10px 10px 20px !important;

        transition: all 400ms;
      }
    }
    & :nth-child(2) {
      background-color: #0000 !important;
      transition: all 300ms;
      width: 25px;

      &:hover {
        cursor: pointer;

        background-color: var(--accent-color) !important;
        width: 50px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 10px;
        border-top-left-radius: 20px;
        padding: 10px 0px 10px 20px !important;

        transition: all 400ms;
      }
    }
    & :nth-child(3) {
      transition: all 300ms;
      &:hover {
        cursor: pointer;
        background-color: var(--accent-color);
        width: 40px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 5px;
        border-top-left-radius: 10px;
        padding: 10px 10px 10px 20px !important;

        transition: all 400ms;
      }
    }
  }
  .homeIco {
    cursor: pointer;
    fill: var(--text-color);
    background-color: var(--background-color);
    width: auto;
    padding: 0;
    transition-delay: 200ms;
    transition: padding 800ms;
    border: none;
  }
  .linkda {
    cursor: pointer;
    fill: var(--text-color);
    width: 25px !important;
    height: 100%;
    // padding-left: 10px;
  }

  .contHome {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    background-color: none;
    color: var(--text-color);
    z-index: 20;
    align-items: center;
    justify-content: flex-start;

    &__h1 {
      font-family: "Conquera Heavy";
      font-weight: 800;
      font-style: normal;
      min-height: 1em;

      height: auto;
      // max-width: 50px;
      font-size: 40px;
      letter-spacing: 0px;

      color: var(--title-color);
      -webkit-text-stroke: 0.8px var(--stroke-icon);
      text-shadow: 0px 0px 10px var(--shadow-color);
      margin: 5px 0 5px 0;
      font-size: 30px;
    }
    &__h3 {
      font-family: "Conquera Fine";
      font-weight: normal;
      font-style: normal;
      font-size: 20px;
      margin: 0;

      color: var(--text-color);
      transition: all 800ms;
      font-size: 1.5em;
    }
    &__p {
      transition: all 800ms;
      letter-spacing: 2px;
      font-family: "Conquera Fine";
      font-size: 38px;
      color: var(--text-color);
      height: auto;

      margin: 0;
    }

    .barTyping {
      // font-family: "Conquera Fine";
      position: relative;
      background-color: #0000;
      background-color: var(--typing-color);
      // font-size: 50px;
      width: 4px;
      height: 30px;
      // bottom: 0.2rem;çç
      margin-left: 0.3em;
      animation: 1450ms flash infinite;
      animation-fill-mode: both;
      transition: all 800ms;
      display: block;
    }
  }
}
@media screen and (min-width: 1200px) {
  .section {
    width: 100%;
    height: 100vh;
    min-height: 100%;

    display: flex;

    align-items: center;

    overflow: hidden;
  }
  .blurredHome {
    z-index: 10;

    backdrop-filter: blur(0vmax);
  }
  .meimg {
    position: relative;

    left: 80rem;
    bottom: 0rem;
    z-index: 23;
  }
  .bgHome {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;

    background-image: var(--bg-pattern);
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 2;

    // filter: brightness(60%) contrast(80%) opacity(20%);
    transition: all 0ms;
  }
  // contnt

  .contitle {
    display: flex;
    height: auto;
    width: auto;
    align-items: flex-end;
    max-width: 398px;
  }

  .maxwrapper {
    max-width: 650px;
  }

  // title animation

  .barTyping {
    width: 4px;
    background-color: none !important;
    height: 100%;
    margin-left: 1em;
    animation: 1450ms flash infinite;
    animation-fill-mode: both;
    display: block;
    transition: all 800ms;
  }

  .contHome {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
    margin-top: 0;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    // margin-left: 20px;

    background-color: none;
    color: var(--text-color);

    z-index: 20;

    &__h1 {
      font-family: "Conquera Heavy";
      font-weight: 800;
      font-style: normal;
      width: auto;
      height: auto;
      font-size: 40px;
      letter-spacing: 2px;

      color: var(--title-color);
      -webkit-text-stroke: 0.8px var(--stroke-icon);
      text-shadow: 0px 0px 10px var(--shadow-color);
    }
    &__h3 {
      margin-top: 10px;
      font-family: "Conquera Fine";
      font-weight: normal;
      font-style: normal;
      font-size: 25px !important;
      height: 20px;

      color: var(--text-color);
      transition: all 800ms;
      line-height: auto;
    }
    &__p {
      transition: all 800ms;
      font-size: 41px;
      letter-spacing: 5px;
      font-family: "Conquera Fine";
      font-weight: normal;
      font-style: normal;
      color: var(--text-color);
      height: auto;

      margin: 0;
    }
  }
}
@media screen and (min-width: 1500px) {
  .section {
    width: 100%;
    height: 100vh;
    min-height: 100%;

    display: flex;

    align-items: center;

    overflow: hidden;
  }

  .maxwrapper {
    max-width: 800px;
  }

  .blurredHome {
    z-index: 10;

    backdrop-filter: blur(0vmax);
  }
  .meimg {
    position: relative;

    left: 80rem;
    bottom: 0rem;
    z-index: 23;
  }
  .bgHome {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;

    background-image: var(--bg-pattern);
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 2;

    // filter: brightness(60%) contrast(80%) opacity(20%);
    transition: all 0ms;
  }
  // contnt

  .contitle {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    max-width: 800px;

    // max-width: 750px;
    height: auto;
  }

  // .contitle::after {
  //   content: "|";
  //   height: 100%;
  //   position: relative;

  //   font-family: "Conquera";
  //   font-weight: 800;
  //   font-style: normal;
  //   font-size: 50px;
  //   top: 1rem;

  //   margin: 0;

  //   color: var(--typing-color);

  //   animation: 1450ms flash infinite;
  //   animation-fill-mode: both;
  //   transition: all 800ms;

  // }
  // title animation

  .barTyping {
    position: relative;
    width: 4px;
    background-color: none;
    height: 20px;
    // margin-top: 0.5em;
    margin-left: 0em;
    animation: 1450ms flash infinite;
    animation-fill-mode: both;
    display: block;
    transition: all 800ms;
  }

  .contHome {
    padding-top: 0;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    margin-top: 0;
    background-color: none;
    color: var(--text-color);
    width: 100%;
    max-width: 1500px;
    z-index: 20;
    align-items: center;
    justify-content: space-between;

    z-index: 20;

    &__h1 {
      font-family: "Conquera Heavy";
      font-weight: 800;
      font-style: normal;

      // height: 20px;
      font-size: 30px;
      letter-spacing: 5px;

      max-width: 780px;
      color: var(--title-color);
      -webkit-text-stroke: 0.8px var(--stroke-icon);
      text-shadow: 0px 0px 0px var(--shadow-color);
    }

    // &__h1::after {
    //   width: 8px;
    //   background-color: var(--typing-color);
    //   height: auto;
    //   animation: 1450ms flash infinite;
    //   animation-fill-mode: both;
    //   transition: all 800ms;
    // }

    &__h3 {
      margin-top: 10px;
      font-family: "Conquera Fine";
      font-weight: normal;
      font-style: normal;
      font-size: 25px !important;
      height: 20px;

      color: var(--text-color);
      transition: all 800ms;
      line-height: auto;
    }
    &__p {
      transition: all 800ms;
      font-size: 54px;
      letter-spacing: 5px;
      font-family: "Conquera Fine";
      font-weight: normal;
      font-style: normal;
      color: var(--text-color);
      height: auto;

      margin: 0;
    }
  }
}

// keyframes
@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
