@import '../../features/colors.scss';
@import '../../Fonts.scss';

@import url("https://fonts.googleapis.com/css?family=Open+Sans:40");

.section{
    width: 100%;
    height: 100vh;
    min-height: 100%;

    display: flex;

    align-items: center;

    overflow: hidden;
}

.bgHome{
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    
    background-image: var(--bg-pattern);
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 11;
    

    transition: all 0ms ;
  
  }
// contnt


.contitle{
    display: flex;
    height: auto;
    align-items: flex-end;
}

// title animation


.barTyping{
    width: 4px;
    background-color: var(--typing-color);
    height: 45px;
    margin-left: 1em;
    animation: 1450ms flash infinite ;
    animation-fill-mode: both;
    transition: all 800ms;
    
}



@keyframes flash {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    80%{
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
// .........
.contHome{

    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    
    background-color: none;
    color: var(--text-color);
    
    
    z-index: 20;

    &__h1{
    font-family: 'Conquera';
    font-weight: 800;
    font-style: normal;  
    
    height: 70px;
    font-size: 60px;
    letter-spacing: 5px;
    
    color: var(--title-color);
    -webkit-text-stroke: 0.8px var(--stroke-icon);
    text-shadow: 0px 0px 10px var(--shadow-color);
        margin: 0;
    }
    &__h3{
        font-family: 'Conquera Fine';
        font-weight: normal;
        font-style: normal;  
        font-size: 25px;
        margin: 0;
        
        color: var(--text-color);
        transition: all 800ms;
    }
    &__p{
        transition: all 800ms;
        
        font-family: 'Michroma', sans-serif;       
        color: var(--text-color);      
        line-height: 0px;
        margin: 0;
        
    }
}





