@import './form.scss';  

.div{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.left{
    width: auto;
}

.right{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact{
    width: 90vw;
    height: 80vh;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
  z-index: 20;


    & .cont{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-around;
        gap: 50px;
        width: auto;
        max-width: 80vw;
        margin: 0;
    }
}

.button{
    width: 50%;
    margin: 0 auto;
}
.textform input{
    width:100%;
    appearance: none;
}
.textform textarea{
    appearance: none;
    width:100%;
    min-height: 20px;

    background-color: #00000000;
    border: none;
    border-bottom: 1px solid #000;


    resize: none;

    font-family: "Michroma", sans-serif;
    font-weight: 200;
    transition: 0.4s ease;

    &:focus {
        outline: none;
        background-color: var(--shadow-input);
        transition: 0.3s ease;
    }


}



.mediacont{ 
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    // padding: 2em;
    max-width: 499px;

    & p{
        color: var(--text-color-50);
    }
}
.wrp_Form{
    width: 100%;
    
}
.formcont{ 
    display: flex;
    flex-direction: column;

    gap: 1em;

    max-width: 800px;
    padding: 2em;
}



@media screen and (min-width:700px) {
    .cont{
        gap: 0;
        width: auto;
        min-width: 80vw;
        margin: 0 auto;
    }
}
@media screen and (min-width:1400px) {

    
.div{
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;

}

.left{
    width: auto;
}

.right{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact{
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    & .cont{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: auto;
        min-width: 1300px;
        margin: 0;
        justify-content: space-between;
    }
}

.button{
    width: 50%;
    margin: 0 auto;
}
.textform input{
    width:100%;
    appearance: none;
}
.textform textarea{
    appearance: none;
    width:100%;
    min-height: 20px;

    background-color: #00000000;
    border: none;
    border-bottom: 1px solid #000;


    resize: none;

    font-family: "Michroma", sans-serif;
    font-weight: 200;
    transition: 0.4s ease;

    &:focus {
        outline: none;
        background-color: var(--shadow-input);
        transition: 0.3s ease;
    }


}



.mediacont{ 
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    // padding: 2em;
    max-width: 562px;

    & p{
        color: var(--text-color-50);
    }
}
.formcont{ 
    display: flex;
    flex-direction: column;

    gap: 1em;

    max-width: 800px;
    padding: 2em;
}
}