
.contitem__left{
    width: 100%;    
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}



.contitem__right{
    width: 100%;    
    justify-content: space-between;
    display: flex;
    flex-direction: row;
  
  }
  

  
.iconModeDark {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 200;

    transform: translate(-35%,90%);

}
.iconModeDark:hover {
    cursor: pointer;
    .moon{
      
      transition: all 250ms  ease-in-out;
      fill: var(--arrow-hover);
    }
    
    .linedarkmd{
      transition: all 250ms  ease-in-out;
      stroke: var(--arrow-hover);
    }
  }
  
  .linedarkmd{
    stroke: var(--arrow);
  }
  .moon{
    fill: var(--arrow);
  }
  .headericon{
    fill:var(--icon-fill-hdr);
    stroke:var(--stroke-icon);
    stroke-width:2px;
    transition: all 250ms ;
  }
  .headericon:hover{
    fill:var(--icon-fill-hdr-h);
    stroke:var(--stroke-icon-h);
    box-shadow: 0px 10px 10px unset var(--icon-fill-hdr-h);
    stroke-width:1px;
    transition: all 250ms ;
  }


  .word {
    margin: auto;
    color: rgb(0, 0, 0);
    font-family: 'Conquera';
    font-weight: 800;
    font-style: normal;  
    
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
  }

  #text{
    display: flex;
    align-items: center;

    font-family: 'Conquera';
    font-weight: 800;
    font-style: normal;  

    font-size: 60px;
    letter-spacing: 5px;
    margin: 0;
    height: 70px;
    color: var(--title-color);
    -webkit-text-stroke: 0.8px var(--accent-color);
    text-shadow: 0 0px 12px var(--shadow-color);

  }

  
.Section{

  &__projects{
    position: absolute;
    z-index: 25;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 5%;

  
  }

}






