@import './features/colors.scss';
@import-normalize; /* bring in normalize.css styles */

@font-face {
  font-family: 'Conquera Fine';
  src: url('Conquera-Fine.eot');
  src: local('Conquera Fine'), local('Conquera-Fine'),
      url('Conquera-Fine.eot?#iefix') format('embedded-opentype'),
      url('Conquera-Fine.woff2') format('woff2'),
      url('Conquera-Fine.woff') format('woff'),
      url('Conquera-Fine.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// @import './aditional/colors.css';
#root{

  background-image: var(--root-bg);
  background-position: 50%;
  background-repeat: repeat-y;
  background-size: contain;

}

html{
  background-color: var(--background-color);


}
a{
  text-decoration: none;
}
body {
  margin: 0;
  height: auto;
  overflow-x: hidden;

  background-color: var(--background-color);
 

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2{
  
  font-family: 'Conquera Fine';
  font-weight: normal;
  font-style: normal;  
  font-size: 25px;
  margin: 0;

  color: var(--text-color);
  transition: all 200ms;

}
p{
  font-family: "Michroma", sans-serif;
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 1px;
  // word-spacing: 10px;
  line-height: 2.5em;
}
button {
  --border: 2.5px;    /* the border width */
  --slant: 0.5em;   /* control the slanted corners */

  font-family: 'Michroma', sans-serif;
  color: var(--accent-color);
  font-size: 18px;
  width: 130px;
  height: 40px;
  padding: 0.1em 1.0em;
  border: none;
  cursor: pointer;
  
  color: var(--accent-color);
  background: 
     linear-gradient(to bottom left,var(--button-color)  50%,#0000 50.1%) top right,
     linear-gradient(to top   right,var(--button-color)  50%,#0000 50.1%) bottom left;
  background-size: calc(var(--slant) + 1.3*var(--border)) calc(var(--slant) + 1.3*var(--border));
  background-repeat: no-repeat;
  box-shadow:
    0 0 0 200px inset var(--s,#0000),
    0 0 0 var(--border) inset var(--button-color);
  clip-path: 
      polygon(0 0, calc(100% - var(--slant)) 0, 100% var(--slant),
              100% 100%, var(--slant) 100%,0 calc(100% - var(--slant))
             );
  transition: color var(--t,0.3s), background-size 0.3s;
  .linkhover{
    color: var(--text-contrast);
  }
}
.linkhover{
  text-decoration: none;  
}
button:focus-visible {
  outline-offset: calc(-1*var(--border));
  outline: var(--border) solid #000c;
  clip-path: none;
  background-size: 0 0;
}
button:hover,
button:active{
  background-size: 100% 100%;
  --t: 0.2s 0.1s;
  color: var(--text-color-c);
}
button:active {
  --s: #0005;
  transition: none;
}


.shadowHome{
  width: 100vw;
  height: 90%;

  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(0%,40%);
  z-index: 12 ;

  background: linear-gradient(0deg, var(--background-color-20) 0%, var(--background-color) 40%,  var(--background-color) 50%, var(--background-color-20) 80% );
}



.blob{
  background-color: var(--ball-color);
  height: 30vmax;
  aspect-ratio: 1;
  // width: 500px;    
  position: relative;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 20%;
  animation: rotate 8s infinite;
  // animation: 140ms in initial ;
  animation-fill-mode: both;
  animation-delay: 0 ;

  transition: 800ms;
}
.blur{
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;

  position: absolute;
  z-index: 1;
  backdrop-filter: blur(11vmax);   
  -webkit-backdrop-filter: blur(11vmax);   

}



@keyframes shadee {
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }

}
@keyframes rotate {
  from{
      rotate: 0deg;
  }
  50%{
    scale: 1 1.5;
  }
  to{
      rotate: 360deg;
  }

}


@keyframes show {
  from {
    opacity: 0;
    scale: 40%;
  }
  50%{
    opacity:.2;
  }
  to{ 
    opacity: 1;
    scale: 100%;
  }
}

@keyframes showinvert {
  from {
    opacity: 1;
    scale: 100%;
  }
  50%{
    opacity:.2;
  }
  to{ 
    opacity: 0;
    scale: 0%;
  }
}




#Anim_tion{
  view-timeline-name: --all;
  view-timeline-name: block;

  animation-timeline: --all;
  animation-name: show;
  // animation-name: hide;

  animation-range: entry 5% cover 20%;
  animation-fill-mode:both;
}
