@import "./features/colors.scss";
@import "./Fonts.scss";
@import "./button.scss";
@import "./forms.scss";

@import-normalize;
// #root {
//   background-image: var(--root-bg);
//   background-position: 0%;
//   background-repeat: repeat-y;
//   background-size: 300%;
// }

#bgpage {
  background-image: var(--root-bg);
  background-position: 0%;
  background-repeat: repeat-y;
  background-size: 300%;
  width: 100vw;
  height: 100%;
  // display: block;
  position: fixed;

  background-color: var(--background-color-20);
  top: 90vh;

  backdrop-filter: blur(20vmax);
}

html {
  background-color: var(--background-color);
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  width: 100vw;
  height: auto;
  overflow-x: hidden;

  background-color: var(--background-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h3 {
  font-family: "Michroma", sans-serif;
}
h4 {
  font-family: "Michroma", sans-serif;
}
h2 {
  font-family: "Conquera Fine";
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  margin-bottom: 30%;

  color: var(--text-color);
  transition: all 200ms;
}

p {
  font-family: "Michroma", sans-serif;

  font-weight: 200;
  font-size: 14px;
  letter-spacing: 1px;
  // word-spacing: 10px;
  line-height: 2.5em;
}

button {
  --border: 1.5px; /* the border width */
  --slant: 0.5em; /* control the slanted corners */

  font-family: "Michroma", sans-serif;
  color: var(--accent-color);
  font-size: 15px;
  width: 130px;
  height: 40px;
  padding: 0.1em 1em;
  border: none;
  cursor: pointer;

  color: var(--accent-color);
  background: linear-gradient(
        to bottom left,
        var(--button-color) 50%,
        #0000 50.1%
      )
      top right,
    linear-gradient(to top right, var(--button-color) 50%, #0000 50.1%) bottom
      left;
  background-size: calc(var(--slant) + 1.3 * var(--border))
    calc(var(--slant) + 1.3 * var(--border));
  background-repeat: no-repeat;
  box-shadow: 0 0 0 200px inset var(--s, #0000),
    0 0 0 var(--border) inset var(--button-color);
  clip-path: polygon(
    0 0,
    calc(100% - var(--slant)) 0,
    100% var(--slant),
    100% 100%,
    var(--slant) 100%,
    0 calc(100% - var(--slant))
  );
  transition: color var(--t, 0.3s), background-size 0.3s;
  .linkhover {
    color: var(--text-contrast);
  }
}
.linkhover {
  text-decoration: none;
}
button:focus-visible {
  outline-offset: calc(-1 * var(--border));
  outline: var(--border) solid #000c;
  clip-path: none;
  background-size: 0 0;
}
button:hover,
button:active {
  background-size: 100% 100%;
  --t: 0.2s 0.1s;
  color: var(--text-color-c);
}
button:active {
  --s: #0005;
  transition: none;
}


.shadowHome {
  width: 100vw;
  height: 900px;

  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(0%, 38%);
  z-index: 12;

  background: linear-gradient(
    0deg,
    var(--background-color-20) 0%,
    var(--background-color) 40%,
    var(--background-color) 50%,
    var(--background-color-20) 80%
  );
}

.blob {
  background-color: var(--ball-color);
  height: 20vmax;
  aspect-ratio: 1;
  // width: 500px;
  position: relative;
  left: 80%;
  top: 20%;
  translate: -50% -50%;
  border-radius: 20%;
  animation: rotate 8s infinite;
  // animation: 140ms in initial ;
  animation-fill-mode: both;
  animation-delay: 0;

  transition: 800ms;
}
.blur {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;

  position: absolute;
  z-index: 1;
  backdrop-filter: blur(10vmax);
  -webkit-backdrop-filter: blur(10vmax);
}

@keyframes shadee {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rotate {
  from {
    rotate: 0deg;
  }
  50% {
    scale: 1 1.5;
  }
  to {
    rotate: 360deg;
  }
}

@media screen and (min-width: 1200px) {
  #bgpage {
    background-size: contain;
    height: 740vmax;
    position: absolute;
    z-index: 3;
  backdrop-filter: blur(2vmax);

  }
  // #root{
  //   background-size: contain;
  // }
  .bodyBlur {
    width: 100vw;
    height: 500vh;
    position: fixed;
    z-index: 2;
  }
  h2 {
    margin: 0;
  }

  .shadowHome {
    width: 100vw;
    height: 90%;

    position: absolute;
    left: 0;
    bottom: -5rem;
    transform: translate(0%, 40%);
    z-index: 12;

    background: linear-gradient(
      0deg,
      var(--background-color-none) 0%,
      var(--background-color-50) 20%,
      var(--background-color-60) 28%,
      var(--background-color-70) 40%,
      var(--background-color-0) 50%,
      var(--background-color-70) 60%,
      var(--background-color-60) 70%,
      var(--background-color-50) 90%,
      var(--background-color-none) 100%
    );
    // background: linear-gradient(
    //   1deg,
    //   #04040400 8%,
    //   #04040452 20%,
    //   #181818b5 35%,
    //   #181818f2 50%,
    //   #181818c7 70%,
    //   #04040445 90%,
    //   #04040400 100%
    // );
  }

  .blob {
    background-color: var(--ball-color);
    height: 20vmax;
    aspect-ratio: 1.2;
    // width: 500px;
    position: relative;
    left: 50%;
    top: 50%;
    translate: -50% -50%;

    transition: 800ms;
  }
  .blur {
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    background-color: #0000;
    position: absolute;
    z-index: 1;
    backdrop-filter: blur(11vmax);
    -webkit-backdrop-filter: blur(11vmax);
  }
}

@keyframes show {
  from {
    opacity: 0;
    scale: 40%;
  }
  50% {
    opacity: 0.2;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

@keyframes showinvert {
  from {
    opacity: 1;
    scale: 100%;
  }
  50% {
    opacity: 0.2;
  }
  to {
    opacity: 0;
    scale: 0%;
  }
}

#Anim_tion {
  // view-timeline-name: --all;
  // view-timeline-name: block;

  // animation-timeline: --all;
  // animation-name: show;
  // // animation-name: hide;

  // animation-range: entry 5% cover 20%;
  // animation-fill-mode: both;
}
